.center {
    /* display: block;*/
    margin: auto;
    max-width: 100%; 
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 35px;
}


p {
    font-size: 25px;
    color: green; 
}