.center {
    /* display: block;*/
    margin: auto;
    max-width: 100%; 
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 75px;
}

.title {
    border-style: dotted;
}

h2 {
    font-size: 35px;
}

.text {
    font-size: 18px;
}